@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-variant: small-caps;
  color: #222;
}

header {
  text-align: center;
}

section.mainSection {
  margin: 2em auto;
  text-align: center;
}

div.regionModule {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 15vw;
  height: 15vw;
  margin: 0.5em;
  vertical-align: middle;
  background: #fff;
  color: #fff !important;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
  transition: all 0.2s;
  padding: 0;
}

@media screen and (max-width: 1300px) {
  div.regionModule {
    width: 25vw;
    height: 25vw;
  }
}

div.regionModule * {
  color: #fff;
}

div.regionModule a.regionOpen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

div.regionModule p {
  color: #222;
}

div.regionModule h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

div#africaMod{
  background: #7b79b5;
}

div#asiaMod{
  background: #f26e7f;
}

div#europeMod{
  background: #00bacc;
}

div#laMod{
  background: #7cc462;
}

div#pacificMod {
  background: #0096d3;
}

div.regionModule:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.22);

}

div.regionModule:active {
  transform: translateY(0px);
  box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.15);
}

section.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  text-align: center;
  z-index: 10;
  overflow: scroll;
  padding-bottom: 5vh;
}

div.modalWindow {
  margin-top: 5vh;
  display: inline-block;
  min-width: 50vw;
  max-width: 80vw;
  background: #fff;
}

div.modalWindow header {
  position: relative;
}

div.modalWindow .exit {
  position: absolute;
  right: 15px;
  top: 5px;
  color: #fff;
}

span.exitText {
  vertical-align: middle;
}

span.exitX {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

div.modalWindow .exit:hover {
  border-bottom: 2px solid #fff;
}

div.modalWindow h1 {
  margin: 0;
  line-height: 3em;
  color: #fff;
  background: #7b79b5;
}

div.modalWindow .country {
  box-sizing: border-box;
  display: inline-block;
  padding: 2em;
  text-align: left;
  vertical-align: top;
}

div.modalWindow h3 {
  margin: 0;
  text-align: left;
}

div.modalWindow ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  margin-top: 0.25em;
  border-left: 1px solid #999;
  padding-left: 0.5em;
}

div.modalWindow li {
  margin: 0.25em;
  margin-left: 0;
  transition: all 0.2s;
}

div.modalWindow li:hover {
  transform: translateX(3px);
}

div.modalRegion {
  color: #666;
  padding: 1em;
}

div.modalRegion a {
  transition: all 0.2s;
  border-bottom: 1px solid rgba(30, 30, 30, 0);
}

div.modalRegion a:hover {
  color: #333;
  border-bottom: 1px solid #333;
}


.africaBkg {
  background: #7b79b5 !important;
}

.asiaBkg {
  background: #f26e7f !important;
}

.europeBkg {
  background: #00bacc !important;
}

.latin_americaBkg {
  background: #7cc462 !important;
}

.pacificBkg {
  background: #0096d3 !important;
}







*.hide {
  display: none;
}
